@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FFFFFF;
  --secondary: #d1d5db;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Scroll Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

body {
  min-height: 100vh;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 1200px;
    padding: 0px 24px;

  }
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 1200px;
    padding: 0px 24px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
    padding: 0px 24px;
  }
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

input[type="radio"]:checked {
  background-color: #4338ca;
  color: #4338ca;
}